body {
  margin-top: .5rem;
  background-color: #0D1117;
}

.ui .menu {
  margin-bottom: 2rem;
}

.popup {
  max-width: 400px !important;
}

.card-image {
  height: 350px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
}

.contenter{
  display: flex;
  column-gap: 10px;
  flex-wrap: nowrap;
}